[2013-08-09 11:12] cburbridge opened #2 "Merge with 2d_navigation"
Could this repository be merged with scitos_2d_navigation, and maybe turn scitos_2d_navigation into simply scitos_navigation?  The octomap.launch includes the 2d launch things anyway...

[2013-08-09 11:28] marc-hanheide commented on #2
+1 for this. Then UOL will also add their navigation stuff in here.

[2013-08-09 15:41] cburbridge commented on #2
@nilsbore Is this ok with you?

[2013-08-09 16:04] RaresAmbrus commented on #2
@cburbridge Should be ok, I guess the planing and navigation tasks will always be executed on a 2D map (probably obtained from a projection of the 3D objects on the ground/robot plane).

[2013-08-09 16:20] nilsbore commented on #2
Hey, I'm away on a few days vacation so sorry that I can't contribute further but seems good to me!

[2013-08-13 16:04] hawesie commented on #2
I'm less clear on the need for this. I can foresee many potential future users of a relatively  standard 2D nav stack for the scitos. This will be very stable and the foundation of other apps. The 3D stuff seems less stable/more cutting edge to me. I'd hate to have students/newbies accidentally trying to compile all the 3D parts when all they want is to run the nav stack for the robot.

[2013-08-13 16:10] marc-hanheide commented on #2
@hawesie is actually having a point there I haven't thought about. We already have students using the nav bits as they are, so this could indeed get a bit messy. I haven't thought properly, so -1 on this ;-)

[2013-08-13 16:26] #2 closed, assigned to cburbridge

[2013-09-20 13:46] hawesie opened #3 "Rename to scitos_3d_mapping"
Is renaming this OK?

[2013-09-20 13:48] nilsbore commented on #3
Seems good to me!

[2013-09-20 13:55] hawesie commented on #3
@marc-hanheide are you pulling this repo down automatically somewhere?

[2013-09-20 13:56] Jailander commented on #3
I like it!

[2013-09-20 13:58] marc-hanheide commented on #3
yes, in https://github.com/strands-project/strands_systems/blob/master/strands_rosinstall/strands-desktop-full.yaml and https://github.com/strands-project/strands_systems/blob/master/strands_rosinstall/strands-scitos-full.yaml

you should change the names in there, two.

[2013-09-20 14:01] bfalacerda commented on #3
Also, delete the line referring to 3d_mapping. Will this automatically delete the package locally when we run wstool merge and wstool update?

[2013-09-20 14:03] marc-hanheide commented on #3
@BFALacerda, right! It will do for the jenkins automated testing (as that is a fresh checkout anyway). Not sure if it would in general, but I vaguely remember it worked...

[2013-09-20 14:07] bfalacerda commented on #3
I'll confirm it when everything is updated

[2013-09-20 14:07] hawesie commented on #3
@marc-hanheide  please sanity check: https://github.com/strands-project/strands_systems/pull/12

[2013-09-20 14:34] bfalacerda commented on #3
Looks like it doesn't delete the repos in .rosinstall. It just adds the new one. What happens now is:
- 3d_mapping update gives error because it does not exist anymore
- scitos_3d_mapping_and_navigation works because it is redirected to scitos_3d_mapping
- scitos_3d_mapping works as expected.

So now we have 2 extra packages locally that are not needed, one that doesn't update and gives an error (

[2013-09-23 16:15] marc-hanheide commented on #3
In these cases I think it might be worth sending emails to strands@cs.bham.ac.uk with a link to this discussion which should include clear instructions to resolve the problem...

[2014-04-08 12:42] cdondrup opened #8 "Needs ros-hydro-qt-ros but not documented"
`sudo apt-get install ros-hydro-qt-ros` or even better as rosdep

[2014-04-08 12:43] cdondrup opened #9 "ekz-public-lib produces a lot of warnings"
Don't know if that is important but it surely looks like it:

[code]

Also it doesn't follow the naming conventions.

[2014-04-08 12:45] RaresAmbrus commented on #8
This is already mentioned on the wiki page for the Local Metric Maps:

https://github.com/strands-project/strands_management/wiki/Y1-Integration-Group-1-(Local-metric-maps):-April-4th-System

I still have to update the readme for the packages.

[2014-04-08 12:55] jekekrantz commented on #9
I have a feeling that i know what is causing that. Just to validate the hypothesis: you have both groovy and hydro installed on the machine that generated that output?

[2014-04-08 13:01] cdondrup opened #11 "ekz does not build"
We get this as an error even after installing everything that is mentioned in the readme files:

[code]

`libpcl-1.7-all-dev` is installed. Where does this come from then?

[2014-04-08 13:47] cdondrup commented on #9
Yes, that's the case for the robot. Haven't removed groovy yet.

[2014-04-08 14:35] ghost commented on #9
I can confirm this for our robot, also both with groovy and hydro installed.

On Tue, Apr 8, 2014 at 3:47 PM, Christian Dondrup
notifications@github.comwrote:

[2014-04-08 15:09] ghost commented on #9
@cdondrup as you just reported warnings I assume you were able to build this?

I'm actually getting linking problems and I wonder if this is related.

[code]

[2014-04-08 15:14] cdondrup commented on #9
Yes, see issue #11 ;)

[2014-04-08 15:20] jekekrantz commented on #9
There is probably some mixup between groovy and hydro pcl. Having a look at it.

[2014-04-08 15:28] mzillich commented on #9
there is always a mixup of PCL and ROS. we are checking this right now

[2014-04-08 15:35] jekekrantz commented on #9
It is fine to not use/compile this package atm if the error is getting in your way of compiling/running something. There is nothing that really needs this yet.

[2014-04-08 17:10] OMARI1988 commented on #9
Hi,

am getting the same error, is it solved anywhere ?

On Tue, Apr 8, 2014 at 4:35 PM, jekekrantz notifications@github.com wrote:

[2014-04-08 17:40] jekekrantz commented on #9
Seems like i have solved it, but i want to run some tests before i commit it. Atleast im not getting those compiler errors now.

[2014-04-08 18:09] jekekrantz commented on #9
Commited now. Seems fine.

[2014-04-09 08:40] #9 closed, assigned to nobody

[2014-04-09 08:41] #11 closed, assigned to nobody

[2014-04-09 14:55] ToMadoRe opened #14 "pcl conflicts"
There seems to be some conflicts with a different PCL version installed on my system. Could you check if there is a solution to this?

[code]

[2014-04-09 19:26] hawesie opened #16 "semantic_map missing dependencies"
[code]

[2014-04-09 19:29] RaresAmbrus commented on #16
You need to install the qt-ros dependencies:

[code]

[2014-04-09 19:29] hawesie commented on #16
Looks like `ros-hydro-qt-build` was missing at least.

These should be in the package.xml file so we can get them with rosdep.

[2014-04-09 19:31] RaresAmbrus commented on #16
Weird, I didn't have that issue. Did you have the qt_ros dependencies installed?

[2014-04-09 19:34] hawesie commented on #16
Yes, it looks like I had the two packages you listed already installed, but they didn't have that cmake macro which was missing.

[2014-04-09 19:35] RaresAmbrus commented on #16
Oh ok. I'll add this to the package.xml. Is it fixed now?

[2014-04-09 19:40] hawesie commented on #16
Yep, all compiles cleanly.

[2014-04-09 22:18] cdondrup commented on #16
Exactly the same as #8.
If it works now, I think we can close the issues.

[2014-04-10 14:25] cburbridge opened #17 "[ekz-public-lib] Naming issue"
I am getting loads of warnings when I launch completely disconnected packages (eg. scitos_bringup):

[code]

I think this package needs renaming...

[2014-04-10 14:50] jekekrantz commented on #17
Changed name to use underscores instead of dashes and added a pull request https://github.com/strands-project/scitos_3d_mapping/pull/18

[2014-04-10 15:03] #17 closed, assigned to nobody

[2014-04-10 15:28] RaresAmbrus commented on #16
Ok, I've added `ros-hydro-qt-build` and `ros-hydro-qt-ros` as dependencies in the package.xml and opened a pull request with these changes.

[2014-04-14 08:49] Jailander opened #20 "wrong rosdep statement"
This statement

[code]

in  ekz-public-lib/package.xml is causing rosdep to fail because it looks for ros-hydro-pcl which doesn't exist, and according to the "non-markup" README.txt the file doesn't include `ros-hydro-perception-pcl` it maybe that the current line in package.xml is wrong?

[2014-05-06 16:31] cburbridge opened #23 "Metric map ptu sweep pre-empt"
The metric map action server (`rosrun scitos_ptu ptu_action_server_metric_map.py`) needs to be preemptable.

[2014-05-06 16:33] RaresAmbrus commented on #23
I'll look into it and implement it tomorrow.

[2014-05-12 17:30] cburbridge commented on #23
Did you make any progress with this?

[2014-05-12 17:38] RaresAmbrus commented on #23
Oh yeah, I opened a pull request for this a while ago.

[2014-05-12 17:39] RaresAmbrus commented on #23
And I also merged it, so the action server should be preemptable now.

[2014-05-12 18:52] cburbridge commented on #23
I tried with axclient, but it does not cancel...

[2014-05-13 15:05] RaresAmbrus commented on #23
That's strange, I tested it out with a C++ client, first sending a goal and then cancelling it; seemed to work ok. I'll take another look.

[2014-05-13 15:58] RaresAmbrus commented on #23
Sorry, it seems I hadn't merged my branch, just opened a pull request. I was checking another pull request by mistake yesterday. Also the underlying ptu_action_server is not preemptable at the moment, I'll modify that as well.

[2014-05-13 19:28] RaresAmbrus commented on #23
@cburbridge I've opened a new pull request for scitos_drivers as well, where I changed the ptu_action_server in flir_pantilt to be preemptable. Can you please take a look before I merge it ? I have already merged the other pull request in scitos_apps, so both action servers should be preemptable now.

[2014-05-13 21:01] cburbridge commented on #23
Super, thanks. A little while back I copied the flir ptu action server into scitos_ptu so that  simulation could use it too. At the end of the G4S run we should update that version with your changes to the one in scitos_drivers and remove the one from the drivers package. But, lets leave it as it is now because I don't know what is using the version in scitos_drivers, and the one in scitos_ptu is

[2014-05-13 21:01] #23 closed, assigned to RaresAmbrus

[2014-05-13 21:08] RaresAmbrus commented on #23
I updated the scitos_ptu action server as well - I wasn't sure what was using what so I figured I might as well, since the code is almost identical. I've also (partially) tested it, seems to work ok.

[2014-05-30 15:34] OMARI1988 commented on #14
I get the same error. Is there a solution for this?

[2014-05-30 17:26] nilsbore commented on #14
@jekekrantz Can you have a look at this?

[2014-06-21 15:45] cdondrup opened #29 "cloud_merge and semantic_map don't link"
Both produce the same linker error `/usr/bin/ld: cannot find -lmessage_store` if not build together with the rest of our system.
Just tried to build the repository in a custom workspace overlaying the strands workspace but got this error for both of the packages. Somehow it does not seem to find the message store if it's not in the same workspace.

[2014-06-22 09:26] hawesie commented on #29
I think this is a problem with `ros_datacentre` not these packages. I see the same behaviour in other packages too. Can you do the following?
1. `rosed ros_datacentre CMakeLists.txt`
2. Change line 58 from `#LIBRARIES ros_datacentre` to `LIBRARIES message_store`
3. Try building again

Without this the libraries are not exposed as part of the catkin package.

If this works please pull request the c

[2014-07-02 06:51] kitylam9 commented on #14
This post mentioned the same error and still waiting for reply
https://github.com/PointCloudLibrary/pcl/issues/483

[2014-07-10 10:45] mudrole1 opened #30 "Cloud_register failed during compilation"
I have fresh installation on my new laptop and I got following error when trying to compile cloud_register (using catkin_make --only-pkg-with-deps cloud_register)

[code]

(and a lot of similar lines as last one)

[code]

Please let me know, if you need something more.

[2014-07-10 10:48] nilsbore commented on #30
This looks like the problem with the AVX instructions on the new core processors and the old gcc that we're using. You have to compile some packages with compiler flag -mno-avx. It's possible to set that globally when invoking catkin_make but I don't remember how I did that, @ToMadoRe I think you told me how to do that, do you remember? We should put this in a wiki somewhere.

[2014-07-10 10:50] cdondrup commented on #30
I asked the same in gitter the other day. here is Thomas answer:

[code]

Didn't try it yet though.

[2014-07-10 10:56] ToMadoRe commented on #30
yes, try `catkin_make --only-pkg-with-deps cloud_register -DCMAKE_CXX_FLAGS=-mno-avx -DCMAKE_C_FLAGS=-mno-avx`

However, as the package `cloud_register`overwrites these flags, you would first have to change the CMakeLists.txt file fof https://github.com/strands-project/scitos_3d_mapping/blob/hydro-devel/cloud_register/CMakeLists.txt#L4 to:
`set(CMAKE_CXX_FLAGS "-O4 -fPIC -std=c++0x -fpermissive  $

[2014-07-10 11:00] hawesie commented on #30
Please someone commit that change!

[2014-07-10 11:04] mudrole1 commented on #30
Thanks, it worked to me. @ToMadoRe will you commit it?

[2014-07-10 11:09] ToMadoRe commented on #30
Okay, I will have a look at this. There are some other packages that would require this addition as well.

[2014-07-10 11:25] mudrole1 commented on #30
Actually I can do this, as I fix it in my laptop and I know the packages, which need this

[2014-07-10 11:27] cdondrup commented on #30
Since I hate command line arguments when it comes to cmake, what about this:

[code]

Just tested it and on Linda it seems to work.
This should check if the compiler flag is available and if so adds it to the cmake flags.

[2014-07-10 12:47] RaresAmbrus commented on #30
@mudrole1 thanks for fixing this! If there are any more issues I can look into it as well.

[2014-07-10 12:49] mudrole1 commented on #30
Btw, it is problem of these packages:
from scitos_3d_mapping:
cloud_register
ekz_public_lib
semantic_map

from strands_utils:
ransac_primitives
primitive_extraction

[2014-07-10 12:55] RaresAmbrus commented on #30
If everything compiles you should commit it.

[2014-07-10 12:58] mudrole1 commented on #30
@RaresAmbrus it seems that larger discussion is needed as can be seen in #31 So I dont know what solution we will accept.

[2014-09-02 09:38] marc-hanheide opened #33 "preparation for first release"
This repository needs a little restructuring according to the plans outlined in https://github.com/strands-project/strands_management/wiki/software-distribution

Most importantly, it should be renamed to `strands_3d_mapping` as it has nothing to do with scitos. Then it needs proper `package.xml` etc.

Once this is complete, the repository's dependencies should be checked and it should be released

[2014-10-16 13:35] ToMadoRe opened #34 "cannot find -lmessage_store"
This is due to

[code]

, which is in the CMakeLists.txt files of `cloud_merge` and `semantic map`

As @marc-hanheide mentioned on Gitter, explicitly linking the message_store is wong:
"that should already be resolved via ${catkin_LIBRARIES}
if the mongodb_store_cpp_clientis defined as a required dep in find_package(catkin REQUIRED COMPONENTS roscpp rospy std_msgs sensor_msgs tf pcl_ros semantic_m

[2014-10-16 14:30] RaresAmbrus commented on #34
I guess removing the explicit linking to mongodb should fix it.; I'm not sure why it was there in the first place. I'll take a look and fix it.

[2014-10-22 15:12] ToMadoRe opened #35 "missing file"
In file included from /opt/strands/strands_catkin_ws/src/scitos_3d_mapping/cloud_merge/src/cloud_merge_node.cpp:1:0:
/opt/strands/strands_catkin_ws/src/scitos_3d_mapping/cloud_merge/include/cloud_merge_node.h:26:42: fatal error: semantic_map/RoomObservation.h: No such file or directory

[2014-10-22 15:16] cdondrup commented on #35
That's the old, package build does not wait until messages are created bug. Use:

[code]

in the `cloud_merge` `CMakeLists.txt` file.

[2014-10-22 16:17] RaresAmbrus commented on #35
Thanks @cdondrup, I've corrected it in my branch. I'll merge it as soon as I figure out how to set up the `mongodb_store` dependency properly.

[2014-10-22 23:01] marc-hanheide commented on #34
works now, does it?

[2014-10-23 08:59] RaresAmbrus commented on #34
This is not fixed yet, I still have mongodb related issues when installing from apt-get. I did:

[code]

and

[code]

When compiling I get this error:

[code]

[2014-10-23 09:16] marc-hanheide commented on #34
well...
firstly, does the file exist (I presume yes)?
secondly, please provide a link to your `CMakeLists.txt`

[2014-10-23 09:21] RaresAmbrus commented on #34
The file isn't there in `/opt/ros/hydro/include/mongodb_store`

I checked with `dpkg-query -L ros-hydro-mongodb-store`, `message_store.h` isn't installed.

Here's the `CMakeLists.txt`:

[code]

[2014-10-23 09:25] marc-hanheide commented on #34
now, that is really odd... Are you sure you ran `sudo apt-get update` beforehand?

[2014-10-23 09:45] RaresAmbrus commented on #34
Yes, I did it again now just to double check ...

[2014-10-23 09:53] marc-hanheide commented on #34
ok, please send me the output of `dpkg -l ros-hydro-mongodb-store`

I want to make sure you have the correct version. Maybe a stupid question, but you have set up our own repository as described here: https://github.com/strands-project-releases/strands-releases/wiki#using-the-strands-repository ?

If you'd be using the version from the official ROS distribution, they are slow updating so that one

[2014-10-23 09:54] marc-hanheide commented on #34
you should see this:

[code]

and it has the file in there.

[2014-10-23 11:33] RaresAmbrus commented on #34
Here's the `dpkg -l ros-hydro-mongodb-store` output:

[code]

It seems I have an older version, I guess it must be the one from ROS, since I haven't set up anything else and was just downloading this directly with `apt-get`. After adding the Strands repository I'm able to get the latest version which contains `message_store.h`. Thanks @marc-hanheide

One more question: if I include `mongodb_store`

[2014-10-23 12:26] marc-hanheide commented on #34
nope... that doesn't make sense. Please refer to https://github.com/strands-project/mongodb_store/issues/103 for some discussion around this. Is it related to boost? You may want to try to put mongodb_store as the first in your `CMakeLists.txt` dependencies in `find_package(catkin REQUIRED COMPONENTS ...)` (also before boost).

As stated in https://github.com/strands-project/mongodb_store/issues/1

[2014-10-23 14:15] RaresAmbrus commented on #34
I moved `mongodb` up the dependency list and the linker error were miraculously solved! :D
Thanks @marc-hanheide.

[2014-10-23 14:26] #34 closed, assigned to nobody

[2014-10-31 14:47] ToMadoRe opened #37 "another mongodb issue"
Just tried to compile the newest version of scitos_3d_mapping with the debian version of mongodb_store and got this:

[code]

[2014-11-02 12:12] marc-hanheide commented on #33
Are there any plans to release this anytime soon? I understand this would be part of the data gathering during the marathon? In that case it would have to be released, right?

[2014-11-03 09:13] RaresAmbrus commented on #33
Yes, this should be released as well. Can I rename this repository or should I create a new one and merge things from here?

[2014-11-03 09:18] marc-hanheide commented on #33
renaming is good

[2014-11-03 09:42] RaresAmbrus commented on #37
@ToMadoRe this compiles for me with the latest version of `mongodb_store`. Can it be that you're not downloading the latest version of `mongodb_store` from the strands repository ?

[2014-11-03 09:56] RaresAmbrus commented on #33
@marc-hanheide renaming can easily be done from the repository settings tab, but I don't have the permission to do it. Can you please see if it works for you?

[2014-11-03 10:04] marc-hanheide commented on #33
Yes. Sure. I can do it. What name please?

[2014-11-03 10:05] RaresAmbrus commented on #33
I think we were saying `strands_3d_mapping`. Thanks.

[2014-11-03 10:29] marc-hanheide commented on #33
done!

[2014-11-03 13:11] RaresAmbrus commented on #33
@marc-hanheide to get jenkins to build this repository I should follow the instructions at:

https://github.com/strands-project/strands_management/wiki/STRANDS-software-packaging,-deployment,-and-testing-(using-Jenkins)

in particular the part about strands `rosdistro`, right ?

[2014-11-03 13:36] marc-hanheide commented on #33
yes, but if you want a quick run through just join the rosdistro chat or tell me to put it on, I can do it for you.

[2014-11-04 06:47] ToMadoRe commented on #37
@RaresAmbrus: I will get back on this on Friday. I don't see Werner till then.

[2014-11-08 20:16] marc-hanheide commented on #37
does it work now?

[2014-11-08 20:17] marc-hanheide commented on #33
So, what's your view? Release the beast?

[2014-11-09 13:50] RaresAmbrus commented on #33
Yes definitely. But first I want to merge some bugfixes from my fork and do one test on the robot tomorrow. I think tomorrow afternoon/evening it should be ready for the release.

[2014-11-10 18:06] RaresAmbrus opened #43 "scitos_ptu_sweep"
@Jailander are you still using the `scitos_ptu_sweep` from `strands_3d_mapping` ? Should it be a part of the release?

[2014-11-11 16:37] RaresAmbrus commented on #33
@marc-hanheide  can you please try to release this once https://github.com/strands-project/strands_3d_mapping/pull/46 is merged as well?

[2014-11-11 17:33] marc-hanheide commented on #33
I'm releasing this now for the first time

[2014-11-11 17:58] marc-hanheide commented on #33
there are a few missing deps in the released packages (i.e. missing `<build_depends>` in the `package.xml`s: see http://lcas.lincoln.ac.uk/jenkins/job/ros-hydro-metaroom-xml-parser_binarydeb_precise_amd64/2/console

and also some files are generated in the wrong place: http://lcas.lincoln.ac.uk/jenkins/job/ros-hydro-semantic-map_binarydeb_precise_amd64/1/console

[2014-11-11 20:03] marc-hanheide commented on #33
I do have another one for you: (http://lcas.lincoln.ac.uk/jenkins/job/ros-hydro-metaroom-xml-parser_binarydeb_precise_amd64/3/console)

[code]

[2014-11-11 20:05] marc-hanheide commented on #33
and a deprecation warning you might want to fix in http://lcas.lincoln.ac.uk/jenkins/job/ros-hydro-semantic-map_binarydeb_precise_amd64/2/

[code]

[2014-11-11 20:06] RaresAmbrus commented on #33
A question - shouldn't jenkins find these errors when I open a pull request?

[2014-11-11 20:09] marc-hanheide commented on #33
nope... because in a pull request the repository is build "as a whole", i.e. if package A resolve a dependency in your repo, then it will also be resolved for package B as it's all one big `catkin_make`. For the release process your repo is taken apart into individual packages, causing those packages with missing dependencies to fail. I know that is a bit annoying, but that's the ROS infrastructur

[2014-11-11 20:19] RaresAmbrus commented on #33
Ok, should be done in https://github.com/strands-project/strands_3d_mapping/pull/48. I had removed the dependency on `pcl_ros` in the `metaroom_xml_parser` but I forgot to remove the include in the class :X
Should be fixed now.

[2014-11-11 21:31] marc-hanheide commented on #33
sorry... now there are a few deps missing in the `package.xml`'s.

http://lcas.lincoln.ac.uk/jenkins/job/ros-hydro-cloud-merge_binarydeb_precise_amd64/4/console

`/tmp/buildd/ros-hydro-cloud-merge-0.0.3-0precise-20141111-2100/include/cloud_merge_node.h:38:18: fatal error: room.h: No such file or directory`

Or is this probably header not being installed properly (install target for them missing)?

[2014-11-11 22:04] RaresAmbrus commented on #33
The first error `/tmp/buildd/ros-hydro-cloud-merge-0.0.3-0precise-20141111-2100/include/cloud_merge_node.h:38:18: fatal error: room.h: No such file or directory` is due to the fact that the `cloud_merge` package depends on the `semantic_map` package, an both are in this repository.

I'll add tf in the package.xml of `metaroom_xml_parser`, that should fix the second error.

Btw is there any way I c

[2014-11-11 23:36] marc-hanheide commented on #33
There is no easy way, but one sanity check is to first run `catkin_make install` and check that everything you expect is actually in install location. The you could create a second workspace that _uses_ the install tree (source the `install/setup.bash` instead of the `devel/setup.bash`).

From what I can see the problem with `/tmp/buildd/ros-hydro-cloud-merge-0.0.3-0precise-20141111-2100/include/c

[2014-11-11 23:37] marc-hanheide commented on #33
again, this of course is not picked up by PR builds, as they only build devel and don't check that the install tree is correct.

[2014-11-11 23:41] marc-hanheide commented on #33
just to add, this is the generated pkg-config file:

[code]

So you see you need to prefix your include with `<PKG_NAME>`

[2014-11-12 09:17] RaresAmbrus commented on #33
@marc-hanheide thanks to the explanation! I'll update the includes with `<PKG_NAME>`.

Also, I'm not sure if the following does anything, other than structuring the code. So for example, if my headers are in `semantic_map/include/semantic_map` (this is the way you've structured it in `mongodb_store`) and I do:

[code]

The headers will end up in `/opt/ros/hydro/include/semantic_map/`

On the other

[2014-11-12 09:32] marc-hanheide commented on #33
The difference in your code when you include with the package name. E.g you would use `#include <semantic_map/room.h>` which will now work with both, installed and locally. Imagine there would be another room.h anywhere in your include path.

[2014-11-12 09:33] marc-hanheide commented on #33
It's like a namespace...

[2014-11-12 10:21] RaresAmbrus commented on #33
Ok, so the difference is in the local build space, got it now. I've updated the repo and opened a pull request - https://github.com/strands-project/strands_3d_mapping/pull/50. Hopefully this fixes the include problem.

[2014-11-13 18:10] cdondrup commented on #33
Did #50 fix it? Seems it built...

[2014-11-13 18:16] RaresAmbrus commented on #33
Built and released. I think we can close this.
On 13 Nov 2014 19:10, "Christian Dondrup" notifications@github.com wrote:

[2014-11-13 20:23] #33 closed, assigned to RaresAmbrus

[2014-11-14 10:09] RaresAmbrus commented on #43
Fixed in https://github.com/strands-project/strands_3d_mapping/commit/987c421c3c6eb3e3217f8e06097b4f822fcb5de6.

[2014-11-14 10:09] #43 closed, assigned to nobody

[2014-11-14 10:09] RaresAmbrus commented on #37
@ToMadoRe is this working now?

[2014-11-14 10:10] RaresAmbrus commented on #35
Fixed in 6450d2eae7f33d5470b454690be3d59af7992e82. @ToMadoRe I think you can close this.

[2014-11-14 10:21] RaresAmbrus commented on #30
@mudrole1 can we close this? I think we have a working solution for now.

[2014-11-14 10:21] RaresAmbrus commented on #29
@cdondrup I think this can be closed now.

[2014-11-14 10:22] RaresAmbrus commented on #20
Fixed in 68b31906b32e650fd9aae46a2f9cbab89d27f3da.

[2014-11-14 10:23] RaresAmbrus commented on #16
@hawesie this was fixed a long time ago. Can you please close this issue?

[2014-11-14 10:23] RaresAmbrus commented on #14
@ToMadoRe is this still relevant?

[2014-11-14 10:23] #29 closed, assigned to nobody

[2014-11-14 10:23] RaresAmbrus commented on #8
@cdondrup can you please close this?

[2014-11-14 10:24] #20 closed, assigned to nobody

[2014-11-14 10:24] #8 closed, assigned to nobody

[2014-11-14 10:25] RaresAmbrus commented on #3
This repository was renamed to `strands_3d_mapping`. We can close this issue.

[2014-11-14 10:26] #3 closed, assigned to nobody

[2014-11-14 11:04] RaresAmbrus opened #51 "Mongodb integration with metric maps"

[2014-11-14 12:35] ToMadoRe commented on #37
I think yes... no problem encountered during the last compile

[2014-11-14 12:35] #37 closed, assigned to nobody

[2014-11-14 12:35] ToMadoRe commented on #35
ok...we can re-open it anyway.

[2014-11-14 12:35] #35 closed, assigned to nobody

[2014-11-14 12:38] ToMadoRe commented on #14
I am using a different PCL version now and it is fine. But I am not sure if this happens for other PCL versions. So, I don't know if you want to close this issue for now.

[2014-11-14 13:59] #16 closed, assigned to nobody

[2014-11-14 14:02] #30 closed, assigned to nobody

[2014-11-19 09:44] RaresAmbrus commented on #51
Implemented in https://github.com/strands-project/strands_3d_mapping/pull/52

Things left to do/test:
- If the datacentre is started on another machine, logging a sweep takes about 30 seconds. It would be good to start this in a separate thread and not block the main application.
- Logging individual images would be good for postprocessing and motion removal; size of individual sweeps could go up

[2014-11-21 11:38] cdondrup opened #54 "PTU sweept goes further than 180"
I already mentioned that in gitter:
I tried a routine with the [marathon_routine_node](https://github.com/strands-project/strands_executive_behaviours/blob/hydro-devel/routine_behaviours/scripts/marathon_routine_node.py) and noticed that the PTU is panning far over its limits in both directions which makes it miscalibrate. Maybe there is something wrong with the step and limit parameters, @RaresAm

[2014-11-21 11:40] RaresAmbrus commented on #54
@cdondrup which sweep node are you using ? I think the one from `strands_3d_mapping` is @Jailander's. I'm using the one form `scitos_ptu`, and I think I added limits to the pan and tilt angles.

[2014-11-21 11:45] RaresAmbrus commented on #54
Looking at the routine, it seems it's using the  `ptu_pan_tilt_metric_map` action server, which is the one from `scitos_ptu`.

https://github.com/strands-project/strands_executive_behaviours/blob/hydro-devel/routine_behaviours/src/routine_behaviours/marathon_routine.py

I don't know why it would pan over its limits, since the limits defined are definitely within reasonable bounds. I'll test this o

[2014-11-21 12:05] cdondrup commented on #54
OK, Let me know if I can be of help testing things.

[2014-11-21 18:38] RaresAmbrus commented on #54
@cdondrup I think you can close this now, thanks.

[2014-11-21 18:44] RaresAmbrus opened #55 "Cannot get nodes running on other machines"
The `cloud_merge/launch/mapping.launch` starts the nodes `semantic_map`, `cloud_merge` and `scitos_ptu/ptu_action_server_metric_map.py`. It supports launching `semantic_map`, `cloud_merge` on one machine and `scitos_ptu/ptu_action_server_metric_map.py` on another through different machine and user arguments.

However, at the moment this is not working properly, moreover it's difficult to debug wha

[2014-11-21 18:46] #54 closed, assigned to nobody

[2014-11-21 19:11] ghost commented on #55
actually if I run the second command, it will shutdown after the
`mapping.launch` apparently restarts the action server.

On Fri, Nov 21, 2014 at 7:44 PM, RaresAmbrus notifications@github.com
wrote:

[2014-11-21 19:19] RaresAmbrus commented on #55
Yes, I've opened a pull request where I commented out starting the action server from `roslaunch cloud_merge mapping.launch`.  It's this one: https://github.com/strands-project/strands_3d_mapping/pull/56

[2014-11-24 09:33] ToMadoRe opened #59 "default machine name is set to left-cortex in ptu_sweep.launch"
should probably be localhost

[2014-11-24 13:06] Jailander commented on #59
but that is not the PTU sweep we are usng @ToMadoRe

[2014-11-24 13:07] Jailander commented on #59
we are using @RaresAmbrus version

[2014-11-24 13:09] ToMadoRe commented on #59
how do I get that? I thought we are not using source code?

[2014-11-24 13:12] Jailander commented on #59
yes that is released, I'm not sure you will have to ask in the chat or @RaresAmbrus himself I lost track of it a few days ago with all the navigation bugs

[2014-11-24 13:14] RaresAmbrus commented on #59
@ToMadoRe you don't have to use source code. The action server is in `scitos_ptu` and you run it with:

[code]

[2014-11-26 13:54] musiord commented on #16
Hi,
I installed all ros-qt packages and then I create a new package using the command

In the Package.xml the dependencies to qt_build is ok but when I try to compile I've the issue:

CMake Error at can_io/CMakeLists.txt:111 (rosbuild_prepare_qt4):
  Unknown CMake command "rosbuild_prepare_qt4".

Did someone has the same problem?

[2014-11-26 14:37] RaresAmbrus commented on #16
@musiord I've never tried `catkin_create_qt_pkg`. If your `package.xml` and `CMakeLists.txt` are set up properly `catkin_make` should work.

[2014-11-26 14:46] musiord commented on #16
Ok no pb, In fact I have a project using ROS and QT which is currently working except for Signal/Slot usage. I understand that there is a conflict between Qt and Boost for the usage of signals, so I want to disable Boost signals. I was thinking that the deffinition -DQT_NO_KEYWORDS in teh CMakeList.txt was doing this but infortunalety I seems to be the opposite :

error: ‘emit’ was not declared in

[2015-01-13 12:14] cburbridge opened #67 "ekz-public-lib on indigo"
ekz-public lib does not compile on indigo:

[code]

I hav blacklisted it with `touch CATKIN_IGNORE`, and all other packages compile ok. @RaresAmbrus is this needed by the semantic mapping code?

[2015-01-13 12:19] nilsbore commented on #67
It's not needed for semantic map so you can delete it if you just want to use that. @jekekrantz  will have to fix this or delete the package if it's not going to be used.

[2015-01-29 13:58] cburbridge commented on #67
@jekekrantz ??

[2015-08-05 17:58] QuinAsura commented on #14
Hi, ToMadoRe what version of PCL did you switch to.

[2015-08-05 19:56] ToMadoRe commented on #14
Not sure anymore which one I used back then. Probably 1.7.2. Haven't seen this error for a while (probably because the current system uses the PCL version that comes with ROS - which is 1.7.1). In case I get this error again, I will let you know.

[2015-08-21 11:59] nilsbore opened #82 "[metaroom_xml_parser] load_utilities assumes "~/.semanticMap" directory exists"
`semantic_map_load_utilties::getSweepXmls`, declared in `load_utilities.h` assumes the folder `~/.semanticMap` directory exists, which might not be the case.

[2015-08-27 16:16] pschillinger opened #83 "cloud_merge crashing after sweeping"
As seen today during the lamor workshop after doing a sweep:

[code]

We solved it by manually deleting the "metric_maps" DB in mongodb.

[2016-04-18 09:14] #14 closed, assigned to nobody

[2016-04-18 09:14] #59 closed, assigned to nobody

[2016-05-04 19:56] jayyoung opened #103 "SiftGPU/CUDA observation registration issue"
Hi folks,
I had an issue today getting the 3d mapping stuff running on my own machine in order to do some meta-room scans in simulation.

Using: Ubuntu 14.04, GeForce GTX 950, nVidia driver 352.63, CUDA Driver/Runtime 7.5 (also tried with 5.5 and got similar results), latest version of hydro-devel branch of strands_3d_mapping from strands_project repo.

The issue seems to be with the SiftGPU libra

[2016-05-05 08:40] hawesie opened #104 "Object learning does not service preempt in LEARN_MODEL state"
[code]

[2016-05-09 09:17] RaresAmbrus commented on #103
@jayyoung  strange issue, I haven't seen it before. A couple of times it happened that CUDA wasn't set up properly, in which case SIFTGPU would just crash directly.

I'll do a couple of tests over here with the glsl version, and if all goes well I'll switch completely to that and remove the CUDA dependency.

[2016-05-09 09:25] RaresAmbrus commented on #104
@hawesie as far as I know, the metric mapping action server is preemptable, but I'm not sure about the others. I think the whole action is "cancelable", but maybe not preemptable. If you think it could be an issue I can take a look.

[2016-05-11 13:08] hawesie opened #107 "retrieval_vocabulary crash"
[code]

[2016-05-11 14:01] nilsbore commented on #107
@hawesie This happens when the `vocabulary_path` is no the correct one, I'll add some debug output for when this happens, that should help me debug your problem. I detected yesterday that something similar also happens if you have a trailing slash in the vocabulary path.

[2016-05-11 15:19] hawesie commented on #107
Ok. Seems to be running ok now.

[2016-05-11 15:19] #107 closed, assigned to nilsbore

[2016-06-22 19:42] marc-hanheide opened #108 "Jenkins reports install targets broken"
[code]

https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-strands_3d_mapping/21/console

[2016-06-23 16:35] RaresAmbrus commented on #108
This seems to come from some `quasimodo` related package, so maybe @jekekrantz has an idea what's wrong?

[2016-11-04 10:29] jayyoung opened #113 "Remove 2s from Quasimodo"
Hi folks,
Quasimodo doesn't compile with the latest version of SOMA (using the update branch, which will be used in the deployment), as recently Hakan changed the message types and service names to remove all the 2s. Attempting to build gives the following output:

[code]

This can be fixed with a quick find+replace. One for @jekekrantz  I think?

[2016-11-04 12:09] nilsbore commented on #113
Ah, I'm a bit confused by the different branches there. We have a couple of upcoming PR:s that should fix this soon.

[2016-11-07 16:51] nilsbore commented on #113
This is addressed in https://github.com/strands-project/strands_3d_mapping/pull/111, which I hope will be merged soon. I guess it relies on the soma and mongodb stuff being merged.

[2016-11-14 13:21] heuristicus opened #114 "Metric mapping attempts to insert sweeps into mongodb"
After completing a sweep action (`do_sweep`), there is an attempt to add the cloud into mongo, resulting in  a couple of error messages:

`bettyr_teardown.launch`:
[code]

The error inserting is repeated in the UI launcher as well.

The most likely culprit looks like [`sweep_save.py`](https://github.com/strands-project/strands_3d_mapping/blob/1462f9e06fb0ae448972bba06d19a059910a353a/scitos_ptu_swe

[2016-11-14 13:22] heuristicus commented on #114
@jayyoung will check tomorrow morning to see if that is the correct place to look.

[2016-11-14 13:24] nilsbore commented on #114
This is a known error coming from MongoDB's 16MB limit. I'm not sure if Rares has any intention of fixing this but it doesn't effect robot behaviour.

[2016-11-14 18:46] RaresAmbrus commented on #114
The script tries to log everything from the sweep, including the complete cloud which is above the file size limit. Just commenting out the line where the complete cloud is sent to MongoDB should remove the error, but as Nils pointed out, it doesn't affect anything else, it's just Mongo complaining that logging a file that is too large was attempted.

[2017-01-08 18:53] tony5614 commented on #67
you can check ,https://github.com/PointCloudLibrary/pcl/issues/483

after rearranging the headers and libraries of PCL and OPENCV,the problem is solved !

[2017-01-09 11:04] tony5614 commented on #67
try this. I am using 1.7.1
and I modify these two files
because of the forward declaration,we can only declare a pointer
**::flann::SearchParams \*param_k_;**
instead of a instance
**::flann::SearchParams param_k_;**

kdtree_flann.hpp:
http://pastebin.com/j2aVdXQr
kdtree_flann.h
http://pastebin.com/38spwRxk

[2017-04-10 02:29] mpzapf opened #115 "soma_manager/SOMA2InsertObjs.h: No such file or directory"
When trying to compile, the following errors appear:

/usr/home/catkin_ws/src/strands_3d_mapping/quasimodo/quasimodo_brain/src/modelserver.cpp:20:42: fatal error: soma_manager/SOMA2InsertObjs.h: No such file or directory
 #include "soma_manager/SOMA2InsertObjs.h"
                                          ^
compilation terminated.
/usr/home/catkin_ws/src/strands_3d_mapping/quasimodo/quasimodo_brain

[2017-04-10 03:53] mpzapf commented on #115
Solved, by cloning and building complete soma package from the git repository https://github.com/strands-project/soma, plus building semantic_segmentation and installing ncurses library.

Thanks anyway.

[2017-04-10 03:53] #115 closed, assigned to nobody

[2017-05-05 08:19] nilsbore opened #117 "observation_registration packages not released"
@RaresAmbrus Is there a reason for this? I'm trying to release the whole repo atm.

[2017-05-05 08:19] nilsbore commented on #108
@jekekrantz can you confirm that this was fixed?

[2017-05-05 08:21] nilsbore commented on #113
This is fixed now, closing.

[2017-05-05 08:21] #113 closed, assigned to nobody

[2017-05-05 11:13] RaresAmbrus commented on #117
@nilsbore I guess this package hasn't been released yet (which also means a whole bunch of other packages haven't been released). Some packages in this repo haven't been released in two years (from the changelog the last release was on 0.0.12 (2015-08-21). Do you want to try to release everything?

[2017-05-05 11:55] nilsbore commented on #117
Yeah, the observation registration folder includes a whole bunch of packages also. From my understanding, we need to release the whole repo, rather than individual packages. Do you know if there is anything standing in the way of a release?

[2017-05-05 12:33] RaresAmbrus commented on #117
Most probably the packages are not ready for releasing in terms of their `package.xml` dependencies and probably `CMakeLists` install / library targets.

[2017-05-08 07:20] nilsbore commented on #117
I remember something about a problem with the dependencies of the SiftGPU package. Is that correct?

[2017-06-23 14:00] shubham0108 commented on #67
It works @tony5614 . Thanks a lot. (Cries tears of joy)

[2017-07-15 15:54] AirSmithX commented on #67
unbeliveble !!!!!!!!!!!!!!!!! IT WORKS!!!!!!!!!!!!!!!!!!!!!!

[2018-04-05 14:42] nmssilva commented on #67
lol I can't believe this actually worked. The pcl files should be updated asap...

[2018-04-05 20:27] hawesie commented on #67
@jekekrantz any thoughts?

[2021-03-30 03:29] ninja-sword commented on #67
First I changed file name /usr/local/include/opencv2/flann/flann.hpp to /usr/local/include/opencv2/flann/cvflann.hpp, I can do this because it seems a useless head file and causes conflict. Second I changed  [#include "flann/general.h"] in /usr/include/flann/flann.hpp to [#include "general.h"] to make sure it not going to find wrong head file again( /usr/local/include/opencv2/flann/general.h )

[2021-06-28 01:49] YuanxianH commented on #67
It does work!!!

[2021-08-27 04:56] ksvbka commented on #67
Thank, magical!!!

[2022-05-31 03:19] zhujun3753 commented on #67
This can not work in some cases. There is another choice:
in`/usr/include/pcl-1.8/pcl/kdtree/kdtree_flann.h`, add the following :
[code]
and modify `::flann::SearchParams param_k_;` as `::myflann::SearchParams param_k_;`, `::flann::SearchParams param_radius_;` as `::myflann::SearchParams param_radius_;`
This issue could be solved!!